:host {
  @apply mvx:flex mvx:flex-1 mvx:flex-col mvx:w-full;

  .wallet-connect-download {
    @apply mvx:flex mvx:flex-col mvx:items-center mvx:gap-3 mvx:w-full mvx:flex-1;

    .wallet-connect-download-wrapper {
      @apply mvx:flex mvx:my-auto mvx:mx-0 mvx:flex-col mvx:items-center;

      .wallet-connect-download-description {
        @apply mvx:leading-5 mvx:font-medium mvx:text-base mvx:text-center mvx:mt-3;
        color: #a09a93;
      }
    }

    .wallet-connect-download-options {
      @apply mvx:h-60 mvx:flex mvx:flex-col mvx:gap-4 mvx:items-center mvx:justify-end mvx:my-auto mvx:mx-0;

      .wallet-connect-download-option {
        @apply mvx:flex mvx:w-48 mvx:h-16 mvx:items-center mvx:justify-center mvx:cursor-pointer mvx:transition-all;
        @apply mvx:ease-in-out mvx:duration-200 mvx:rounded-lg mvx:p-3;
        border: 1px solid #262626;
        background-color: #0a0a0a;

        &:hover {
          background-color: #262626;
        }

        .wallet-connect-download-option-image {
          @apply mvx:h-auto mvx:w-full mvx:max-h-full;
        }
      }
    }
  }
}
