:host {
  @apply mvx:flex mvx:flex-col;

  .sign-transactions-header {
    @apply mvx:flex mvx:flex-1 mvx:flex-col mvx:gap-5 mvx:py-5;

    .sign-transactions-header-pager {
      @apply mvx:flex mvx:relative mvx:rounded-2xl mvx:h-9 mvx:items-center mvx:px-5 mvx:justify-center mvx:mx-auto mvx:gap-5;

      &:before {
        @apply mvx:absolute mvx:left-0 mvx:top-0 mvx:bottom-0 mvx:right-0 mvx:pointer-events-none mvx:rounded-2xl mvx:opacity-40;
        content: '';
        background-color: var(--mx-sign-transactions-header-bg);
      }

      .sign-transactions-header-pager-icon {
        @apply mvx:relative mvx:z-1 mvx:cursor-pointer mvx:flex mvx:items-center mvx:justify-center mvx:transition-all mvx:duration-200 mvx:w-5;
        transition-timing-function: ease;
        fill: var(--mx-sign-transaction-header-icon);

        &:hover {
          fill: var(--mx-sign-transactions-primary);
        }

        &.disabled {
          @apply mvx:pointer-events-none mvx:opacity-50;
        }
      }

      .sign-transactions-header-pager-text {
        @apply mvx:relative mvx:z-1 mvx:flex mvx:text-base mvx:leading-none mvx:select-none mvx:items-center mvx:gap-2;

        .sign-transactions-header-pager-text-label {
          color: var(--mx-sign-transactions-secondary);
        }

        .sign-transactions-header-pager-text-value {
          @apply mvx:font-medium mvx:flex mvx:items-center mvx:justify-center mvx:w-2.5;
          color: var(--mx-sign-transactions-primary);

          &.large {
            @apply mvx:w-5;
          }
        }
      }
    }

    .sign-transactions-header-origin {
      @apply mvx:py-6 mvx:flex mvx:flex-col mvx:mx-auto mvx:text-center mvx:justify-center mvx:items-center mvx:select-none mvx:gap-3 mvx:leading-none mvx:text-base;

      &.centered {
        @apply mvx:m-auto;
      }

      .sign-transactions-header-origin-label {
        color: var(--mx-sign-transactions-secondary);
      }

      .sign-transactions-header-origin-image {
        @apply mvx:flex mvx:items-center mvx:rounded-3xl mvx:justify-center mvx:w-18 mvx:h-18;
        background: var(--mx-sign-transaction-image-bg);
        border: 1px solid var(--mx-sign-transaction-image-border);
      }

      .sign-transactions-header-origin-name {
        color: var(--mx-sign-transactions-primary);
      }
    }
  }
}
