:host {
  @apply mvx:flex;
  height: auto !important;
  width: auto !important;
  transform: none !important;
  rotate: none !important;

  .single-angle-down-icon {
    @apply mvx:flex mvx:w-4 mvx:h-2.5;
    fill: #b6b3af;
  }
}
