.pagination-ellipsis {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  border-radius: 50%;
  color: #e5e5e5;

  &:hover,
  &.active {
    background-color: #143736;
  }
}
