@keyframes progressiveFixedWidthExpansion {
  from {
    width: min(var(--start-width, 0%), 80%);
  }

  to {
    width: 80%;
  }
}

@keyframes progressiveInfiniteWidthExpansion {
  from {
    width: min(var(--start-width, 0%), 100%);
  }

  to {
    width: 100%;
  }
}

@keyframes quickWidthExpansion {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.transaction-toast-progress {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.transaction-toast-bar-wrapper {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 5px;
  display: flex;
  overflow: hidden;
  pointer-events: none;
  background: var(--mx-tx-text-secondary);
  border-radius: 20px;
  height: 4px;
  opacity: 1;
  transition: opacity 250ms ease-in;
  margin: 0;
  z-index: 9999;
}

.transaction-toast-bar {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.transaction-toast-bar-fixed {
  width: min(var(--start-width, 0%), 50%);
  background: var(--mx-accent);
  animation: progressiveFixedWidthExpansion var(--animation-duration, 6s) cubic-bezier(0.5, 0.95, 0, 0.35) forwards;
}

.transaction-toast-bar.infinite {
  width: 20%;
  display: flex;
  background: var(--mx-accent);
}

.transaction-toast-bar.infinite .transaction-toast-bar-line {
  width: 0;
  height: 100%;
  position: relative;
  background: var(--mx-accent);
  border-radius: 20px;
  animation: progressiveInfiniteWidthExpansion var(--animation-duration, 60s) cubic-bezier(0.1, 0.95, 0.25, 0.75) forwards;
  animation-delay: var(--animation-delay, 6s);
}

.transaction-toast-bar.fill {
  width: 0;
  position: absolute;
  background: var(--mx-accent);
  border-radius: 20px;
}

.transaction-toast-bar.fill.animate {
  animation: quickWidthExpansion 250ms linear forwards;
}

.transaction-toast-bar-content {
  position: relative;
  z-index: 10;
  padding-bottom: 4px;
}
