.content {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: var(--mx-toast-width);
  max-width: var(--mx-toast-max-width);
  border-radius: 12px;
  border: 0.5px solid var(--Toasts-mx-toast-border, #C7C7C7);
  background: var(--Toasts-mx-toast-bg, rgba(169, 169, 169, 0.40));
  backdrop-filter: blur(38px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.content-left {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  width: 100%;
}

.content-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-icon svg {
  width: 20px;
  height: 20px;
}

.content-icon.success {
  color: var(--mx-toast-success-icon);
  background: var(--mx-toast-success-bg, rgba(52, 199, 123, 0.2));
}

.content-icon.warning {
  color: var(--mx-toast-pending-icon);
  background: var(--mx-toast-pending-bg, rgba(255, 176, 0, 0.2));
}

.content-icon.danger {
  color: var(--mx-toast-error-icon);
  background: var(--mx-toast-error-bg, rgba(255, 71, 71, 0.2));
}

.content-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-heading-title {
  color: var(--Toasts-mx-toast-text-primary, #262626);
  font-family: var(--font-family-roobert);
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-close {
  color: var(--mx-toast-text-secondary);
  background: none;
  border: none;
  padding: 0;
  width: 14px;
  margin: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 12px;
}

.icon-close:hover {
  opacity: 0.8;
}

.subtitle {
  color: var(--Toasts-mx-toast-text-secondary, #6B7280);
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}

.content-message {
  color: var(--Toasts-mx-toast-text-secondary, #6B7280);
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}

.content-message.no-margin {
  margin-top: 0;
}
