:host {
  @apply mvx:flex mvx:flex-col mvx:flex-1;

  .ledger-confirm {
    @apply mvx:flex mvx:flex-col mvx:flex-1 mvx:text-white mvx:gap-3 mvx:pt-6;

    .ledger-confirm-items {
      @apply mvx:flex mvx:flex-col mvx:gap-5;

      .ledger-confirm-item {
        @apply mvx:flex mvx:flex-col mvx:gap-4;

        .ledger-confirm-item-label {
          @apply mvx:text-base mvx:leading-none;
        }

        .ledger-confirm-item-value {
          @apply mvx:min-h-16 mvx:p-3 mvx:rounded-xl mvx:relative mvx:flex mvx:gap-3 mvx:items-center mvx:justify-between;

          &:before {
            @apply mvx:absolute mvx:pointer-events-none mvx:rounded-xl mvx:left-0 mvx:top-0 mvx:right-0 mvx:bottom-0 mvx:opacity-50;
            background-color: #353535;
            content: '';
          }

          .ledger-confirm-item-value-text {
            @apply mvx:relative mvx:z-1 mvx:break-all;

            &.highlighted {
              color: #23f7dd;
            }
          }

          .ledger-confirm-item-value-copy {
            @apply mvx:flex;

            .ledger-confirm-item-value-copy-icon {
              @apply mvx:w-4 mvx:h-4 mvx:flex mvx:justify-center mvx:transition-all mvx:duration-200;
              transition-timing-function: ease;

              &:hover {
                @apply mvx:opacity-80;
              }
            }
          }

          .ledger-confirm-item-value-explorer {
            @apply mvx:flex;

            .ledger-confirm-item-value-explorer-icon {
              @apply mvx:w-4 mvx:h-4 mvx:flex mvx:text-white mvx:transition-all mvx:duration-200;
              transition-timing-function: ease;

              &:hover {
                @apply mvx:opacity-80;
              }
            }
          }

          .ledger-confirm-item-value-actions {
            @apply mvx:relative mvx:flex mvx:items-center mvx:gap-3 mvx:z-1 mvx:flex-1;
          }
        }
      }
    }

    .ledger-confirm-action {
      display: initial;

      strong {
        @apply mvx:font-bold;
        color: #23f7dd;
      }
    }

    .ledger-confirm-footer {
      @apply mvx:mt-auto mvx:bg-red-600 mvx:px-3 mvx:rounded-xl mvx:flex mvx:items-center mvx:gap-2 mvx:h-16;

      .ledger-confirm-footer-icon {
        @apply mvx:w-6 mvx:h-6 mvx:flex-1 mvx:min-w-6 mvx:p-0.5 mvx:fill-white;
      }

      .ledger-confirm-footer-description {
        @apply mvx:text-xs;
      }

      .ledger-confirm-footer-button {
        @apply mvx:px-3 mvx:py-3 mvx:whitespace-nowrap mvx:flex mvx:items-center mvx:font-bold mvx:text-xs mvx:bg-white;
        @apply mvx:rounded-lg mvx:transition-all mvx:leading-none mvx:duration-200;
        transition-timing-function: ease;
        color: #0e0e0e;

        &:hover {
          @apply mvx:opacity-75;
        }
      }
    }
  }
}
