:host {
  @apply mvx:flex mvx:flex-col mvx:flex-1 mvx:overflow-hidden;

  .ledger-confirm {
    &::-webkit-scrollbar {
      @apply mvx:hidden;
    }

    .ledger-confirm-items {
      .ledger-confirm-item {
        .ledger-confirm-item-value {
          .ledger-confirm-item-value-explorer {
            @apply mvx:flex;

            .ledger-confirm-item-value-explorer-icon {
              @apply mvx:w-4 mvx:h-4 mvx:flex mvx:transition-all mvx:duration-200 mvx:ease-in-out;
              color: var(--mvx-text-color-primary);

              &:hover {
                @apply mvx:opacity-80;
              }
            }
          }

          .ledger-confirm-item-value-actions {
            @apply mvx:relative mvx:flex mvx:items-center mvx:gap-3 mvx:z-1 mvx:flex-1;
          }
        }
      }
    }

    .ledger-confirm-action {
      display: initial;

      strong {
        @apply mvx:font-bold;
        color: var(--mvx-text-accent-color);
      }
    }
  }
}
