:host {
  @apply mvx:flex mvx:flex-col mvx:flex-1;

  .ledger-addresses {
    @apply mvx:flex mvx:flex-col mvx:flex-1 mvx:gap-4;

    .ledger-addresses-label {
      @apply mvx:leading-none;
      color: var(--mx-ledger-label);
    }

    .ledger-addresses-wrapper {
      @apply mvx:relative;

      .ledger-addresses-preloader {
        @apply mvx:flex mvx:flex-col mvx:pointer-events-none mvx:absolute mvx:inset-0 mvx:opacity-0 mvx:z-1 mvx:gap-1;
        @apply mvx:transition mvx:duration-200;
        transition-timing-function: ease;

        &.visible {
          @apply mvx:opacity-100 mvx:pointer-events-auto;
        }
      }

      .ledger-addresses-list {
        @apply mvx:flex mvx:flex-col mvx:gap-1 mvx:pointer-events-none mvx:transition mvx:duration-200 mvx:opacity-0;
        transition-timing-function: ease;

        &.visible {
          @apply mvx:opacity-100 mvx:pointer-events-auto;
        }

        .ledger-addresses-list-item {
          @apply mvx:rounded-lg mvx:flex mvx:items-center mvx:p-4 mvx:h-16 mvx:w-full;
          @apply mvx:relative mvx:cursor-pointer mvx:transition mvx:duration-200;
          transition-timing-function: ease;
          border: 1px solid transparent;
          color: var(--mx-ledger-address-item-color);

          &:before {
            @apply mvx:absolute mvx:left-0 mvx:top-0 mvx:bottom-0 mvx:right-0 mvx:pointer-events-none mvx:rounded-lg mvx:opacity-30;
            background-color: var(--mx-ledger-address-item-bg);
            content: '';
          }

          &.checked,
          &:hover {
            border-color: var(--mx-ledger-checkbox-checked);
          }

          .ledger-addresses-list-item-checkbox {
            @apply mvx:relative mvx:z-1 mvx:cursor-pointer mvx:transition mvx:duration-200 mvx:rounded-full mvx:mr-2 mvx:min-w-4 mvx:max-w-4 mvx:h-4;
            transition-timing-function: ease;
            border: 1px solid var(--mx-ledger-checkbox-default);

            &:after {
              @apply mvx:absolute mvx:left-1/2 mvx:top-1/2 mvx:rounded-full mvx:opacity-0 mvx:transition-all mvx:duration-200;
              transform: translate(-50%, -50%);
              transition-timing-function: ease;
              background-color: var(--mx-ledger-checkbox-checked);
              width: calc(12px / 2);
              height: calc(12px / 2);
              content: '';
            }

            &.checked {
              border-color: var(--mx-ledger-checkbox-checked);

              &:after {
                @apply mvx:opacity-100;
              }
            }
          }

          .ledger-addresses-list-item-index {
            @apply mvx:relative mvx:z-1 mvx:text-base mvx:font-medium mvx:transition mvx:duration-200 mvx:mr-4;
            transition-timing-function: ease;
            color: var(--mx-ledger-address-item-index-color);

            &.checked {
              color: var(--mx-ledger-checkbox-checked);
            }

            &.narrow {
              @apply mvx:w-7;
            }

            &.middle {
              @apply mvx:w-8;
            }

            &.larger {
              @apply mvx:w-11;
            }

            &.largest {
              @apply mvx:w-15;
            }
          }

          .ledger-addresses-list-item-address {
            @apply mvx:relative mvx:z-1 mvx:max-w-40 mvx:text-base mvx:mr-auto;
            min-width: 0;

            .trim-wrapper {
              @apply mvx:leading-none;
            }
          }

          .ledger-addresses-list-item-balance {
            @apply mvx:relative mvx:ml-4 mvx:font-medium mvx:text-base mvx:z-1;
          }
        }
      }
    }

    .ledger-addresses-button-wrapper {
      @apply mvx:relative mvx:z-2;

      .ledger-addresses-button-tooltip-wrapper {
        @apply mvx:text-xs mvx:text-center;
        color: var(--mx-ledger-button-tooltip);
      }

      .ledger-addresses-button {
        @apply mvx:w-full mvx:flex mvx:items-center mvx:justify-center mvx:font-bold mvx:h-12 mvx:leading-none mvx:text-base;
        @apply mvx:rounded-lg mvx:cursor-pointer mvx:transition mvx:duration-200 mvx:gap-2;
        transition-timing-function: ease;
        color: var(--mx-ledger-button-text);
        background-color: var(--mx-ledger-button-bg);
        border: 1px solid var(--mx-ledger-button-bg);

        &:hover {
          @apply mvx:opacity-75;
        }

        &.loading,
        &.disabled {
          @apply mvx:pointer-events-none mvx:bg-transparent mvx:cursor-default;
          border-color: var(--mx-ledger-button-loading);
          color: var(--mx-ledger-button-loading);
        }
      }
    }
  }
}
