// .transactions-table {

//   &::-webkit-scrollbar,
//   &::-webkit-scrollbar-track,
//   &::-webkit-scrollbar-track:hover,
//   &::-webkit-scrollbar-corner {
//     @apply mvx:bg-transparent;
//   }

//   &::-webkit-scrollbar {
//     @apply mvx:h-1.5;
//   }

//   &::-webkit-scrollbar-track,
//   &::-webkit-scrollbar-track:hover {
//     @apply mvx:bg-clip-padding mvx:rounded-full mvx:border-4 mvx:border-transparent;
//   }

//   &::-webkit-scrollbar-thumb,
//   &::-webkit-scrollbar-thumb:hover {
//     @apply mvx:bg-clip-padding mvx:rounded-full mvx:border-4 mvx:border-transparent mvx: !bg-thumb;
//   }

//   &::-webkit-scrollbar-button {
//     @apply mvx:hidden;
//   }

//   &::-webkit-resizer {
//     @apply mvx:bg-transparent;
//   }
// }