@import '../../../global/variables.css';

.toast-list {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  pointer-events: none;
}

.toast-list-bottom {
  bottom: 64px;
}

.toast-list > * {
  pointer-events: auto;
}

.view-all-button-container {
  position: absolute;
  bottom: -48px;
  right: 0;
  z-index: 1;
}

.view-all-button {
  border-radius: 100px;
  border: 0.5px solid var(--mx-tx-bg);
  background: var(--mx-tx-bg);
  backdrop-filter: blur(38px);
  padding: 8px 16px;
  color: var(--mx-tx-text-primary);
  font-family: var(--font-family-roobert);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.view-all-button:hover {
  opacity: 0.9;
}
