@keyframes progressiveWidthExpansion {
  from {
    width: min(var(--start-width, 0%), 80%);
  }

  to {
    width: 80%;
  }
}

@keyframes quickWidthExpansion {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.transaction-toast-progress {
  position: relative;
}

.transaction-toast-bar-wrapper {
  transition: opacity 250ms ease-in;
  position: absolute;
  pointer-events: none;
  left: calc(0.5rem * -1);
  top: calc(0.5rem * -1);
  opacity: 25%;
  bottom: calc(0.5rem * -1);
  right: calc(0.5rem * -1);
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
}

.transaction-toast-bar {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.transaction-toast-bar.fixed {
  width: min(var(--start-width, 0%), 50%);
  background-color: lightgray;
  animation-name: progressiveWidthExpansion;
  animation-duration: var(--animation-duration, 6s);
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.transaction-toast-bar.infinite {
  width: 20%;
}

.transaction-toast-bar.infinite .transaction-toast-bar-line {
  width: 0%;
  background-color: lightgray;
  animation-name: quickWidthExpansion;
  animation-duration: var(--animation-duration, 60s);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay, 6s);
  height: 100%;
}

.transaction-toast-bar.fill {
  width: 0%;
  position: absolute;
  background-color: lightgray;
}

.transaction-toast-bar.fill.animate {
  animation: quickWidthExpansion 250ms linear forwards;
}

.transaction-toast-bar-content {
  z-index: 1;
  position: relative;
}
