@import 'tailwindcss' prefix(mvx);

@theme {
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-mobile-lg: 576px;

  --text-tiny: 8px;
  --text-xxs: 10px;

  --color-link: var(--mvx-link-color);
  --color-accent: var(--mvx-text-accent-color);
  --color-preloader: var(--mvx-preloader-item-bg);
  --color-pending: var(--mvx-pending-color);
  --color-secondary: var(--mvx-bg-color-secondary);
  --color-error: var(--mvx-error-color);
  --color-primary: var(--mvx-text-color-primary);
  --color-secondary-text: var(--mvx-text-color-secondary);
  --color-surface: var(--mvx-bg-color-primary);
  --color-outline: var(--mvx-border-color-primary);
  --color-hover: var(--mvx-hover-color-primary);
  --color-pagination-item: var(--mvx-pagination-item-bg);
  --color-pagination-item-hover: var(--mvx-pagination-item-bg-hover);
  --color-neutral-950: var(--mvx-neutral-950);
  --color-neutral-900: var(--mvx-neutral-900);
  --color-ledger-warning: var(--mvx-ledger-warning-bg);
  --color-ledger-warning-message: var(--mvx-ledger-warning-color);
  --color-label: var(--mvx-label-color);
  --color-transaction-method: var(--mvx-transaction-method);
  --color-slate-550: var(--mvx-slate-550);
  --color-gray-200: var(--mvx-gray-200);
  --color-thumb: var(--mvx-scrollbar-thumb);
  --color-outline-variant: var(--mvx-border-color-secondary);
}

@layer utilities {
  .mvx\:scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mvx\:scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}