.side-panel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 16px;
  pointer-events: none;
  z-index: 10000;
  justify-content: flex-end;
  align-items: center;

  &:before {
    background: rgba(23, 23, 23, 0.9);
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 200ms ease;
    opacity: 0;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: rgba(23, 23, 23, 0.5);
      -webkit-backdrop-filter: blur(0.375rem);
      backdrop-filter: blur(0.375rem);
    }
  }

  &.visible {
    pointer-events: auto;
    visibility: visible;

    &:before {
      opacity: 0.9;
    }
  }

  .side-panel {
    transform: translateX(calc(100% + 48px));
    border-radius: 20px;
    padding: 24px;
    width: calc(400px + 40px);
    height: calc(100% - 48px);
    transition: all 200ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #404040;
    background: linear-gradient(to bottom, #3e3e3e 0%, #000 100%);

    box-shadow:
      0px 431px 121px 0px rgba(0, 0, 0, 0),
      0px 276px 110px 0px rgba(0, 0, 0, 0.02),
      0px 155px 93px 0px rgba(0, 0, 0, 0.07),
      0px 69px 69px 0px rgba(0, 0, 0, 0.11),
      0px 17px 38px 0px rgba(0, 0, 0, 0.13);

    &.visible {
      transform: translateX(0);
    }
  }

  .side-panel-heading {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 24px;
    gap: 12px;
    margin-bottom: 24px;

    .side-panel-heading-back {
      cursor: pointer;
      color: #a3a3a3;
      transition: all 200ms ease;

      &:hover {
        opacity: 0.75;
      }
    }

    .side-panel-heading-title {
      color: #e5e5e5;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
    }

    .side-panel-heading-close {
      color: #a3a3a3;
      font-size: 24px;
      transition: all 200ms ease;
      cursor: pointer;
      margin-left: auto;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .side-panel-content {
    flex: 1;
    overflow-y: auto;
  }
}
