.trim {
  @apply mvx:flex mvx:relative mvx:max-w-full mvx:overflow-hidden mvx:whitespace-nowrap;

  .trim-full {
    @apply mvx:text-transparent mvx:absolute mvx:leading-5;

    &.visible {
      @apply mvx:text-inherit mvx:relative;
    }
  }

  .trim-wrapper {
    @apply mvx:hidden;

    &.visible {
      @apply mvx:overflow-hidden mvx:max-w-full mvx:flex;
    }

    .trim-ellipsis-wrapper {
      @apply mvx:block mvx:flex-shrink-0 mvx:pointer-events-none mvx:select-none;

      .trim-ellipsis {
        @apply mvx:block mvx:leading-5;
      }
    }

    .trim-left-wrapper,
    .trim-right-wrapper {
      @apply mvx:flex-shrink mvx:text-ellipsis mvx:overflow-hidden;
      font-size: 1px;

      .trim-left,
      .trim-right {
        @apply mvx:select-none mvx:pointer-events-none mvx:inline mvx:text-base mvx:leading-5;

        @supports (-webkit-hyphens: none) {
          letter-spacing: -0.001em;
        }
      }
    }

    .trim-left-wrapper {
      @apply mvx:text-left;
    }

    .trim-right-wrapper {
      @apply mvx:whitespace-nowrap mvx:text-right;
      direction: rtl;

      .trim-right {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          @apply mvx:text-clip;
        }

        @supports (-webkit-hyphens: none) {
          @apply mvx:text-clip;
        }
      }
    }
  }
}

.trim-stories-wrapper {
  color: var(--mvx-text-color-primary);
}
