.trim {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  &.overflow {
    .ellipsis {
      display: block;
    }
  }

  .left {
    flex-shrink: 1;
    font-size: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .right {
    flex-shrink: 1;
    font-size: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    text-align: right;
  }

  .left span,
  .right span {
    font-size: 0.875rem;
    pointer-events: none;
    user-select: none;
  }

  .ellipsis {
    flex-shrink: 0;
    pointer-events: none;
    user-select: none;
  }

  /* IE fix */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .right {
      text-overflow: clip;
    }
  }

  /* SAFARI fix */
  @supports (-webkit-hyphens: none) {
    .right,
    .left {
      letter-spacing: -0.001em;
    }
    .right {
      text-overflow: clip;
    }
  }

  .hidden-text-ref {
    position: absolute;
    display: block;
    color: transparent;
  }
}