.trim {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;

  .trim-full {
    color: transparent;
    position: absolute;

    &.visible {
      color: inherit;
      position: relative;
    }
  }

  .trim-wrapper {
    display: none;

    &.visible {
      overflow: hidden;
      max-width: 100%;
      display: flex;
    }

    .trim-ellipsis-wrapper {
      display: block;
      flex-shrink: 0;
      pointer-events: none;
      user-select: none;

      .trim-ellipsis {
        display: block;
      }
    }

    .trim-left-wrapper,
    .trim-right-wrapper {
      font-size: 1px;
      text-overflow: ellipsis;
      flex-shrink: 1;
      overflow: hidden;

      .trim-left,
      .trim-right {
        user-select: none;
        pointer-events: none;
        display: inline;
        font-size: 1rem;

        @supports (-webkit-hyphens: none) {
          letter-spacing: -0.001em;
        }
      }
    }

    .trim-left-wrapper {
      text-align: left;
    }

    .trim-right-wrapper {
      white-space: nowrap;
      direction: rtl;
      text-align: right;

      .trim-right {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          text-overflow: clip;
        }

        @supports (-webkit-hyphens: none) {
          text-overflow: clip;
        }
      }
    }
  }
}

.trim-stories-wrapper {
  color: var(--mvx-text-color-primary);
}
