.transaction-item {
  @apply mvx:flex mvx:items-center mvx:py-5 mvx:px-4 mvx:gap-4 mvx:rounded-lg;
  font-family: 'Satoshi', sans-serif;
  background: var(--mx-tx-bg-transparent);

  &:hover {
    background-color: var(--mx-tx-bg);
  }
}

.transaction-icon {
  @apply mvx:w-10 mvx:h-10 mvx:rounded-full mvx:flex mvx:items-center mvx:justify-center mvx:shrink-0 mvx:overflow-hidden;

  img {
    @apply mvx:w-full mvx:h-full mvx:object-cover;
  }

  span, i {
    @apply mvx:text-xl mvx:w-10 mvx:h-10;
    color: var(--mx-tx-text-primary);
  }

  .svg-inline--fa {
    @apply mvx:w-8 mvx:h-8;
  }
}

.transaction-details {
  @apply mvx:flex-1 mvx:min-w-0;
}

.transaction-details-header {
  @apply mvx:flex mvx:items-center mvx:justify-between;
}

.transaction-title {
  @apply mvx:text-base mvx:font-medium mvx:leading-6 mvx:tracking-tight mvx:m-0;
  color: var(--mx-tx-text-primary);
}

.transaction-details-info {
  @apply mvx:flex mvx:items-center mvx:gap-1 mvx:self-stretch mvx:text-sm mvx:font-medium mvx:leading-4 mvx:tracking-tight;
  color: var(--mx-tx-text-secondary);
}

.transaction-details-info-text {
  @apply mvx:text-sm mvx:font-medium mvx:leading-4 mvx:tracking-tight mvx:max-w-64;
  color: var(--mx-tx-text-secondary);

  span {
    @apply mvx:text-sm mvx:font-medium mvx:leading-4 mvx:tracking-tight;
    color: var(--mx-tx-text-secondary);
  }

  .trim-wrapper {
    @apply mvx:flex mvx:items-start mvx:gap-1;
  }

  .left,
  .right {
    @apply mvx:mt-1 mvx:font-normal mvx:leading-4 mvx:tracking-tight;
    color: var(--mx-tx-text-secondary);
  }

  .ellipsis {
    @apply mvx:text-base mvx:font-normal mvx:leading-4 mvx:tracking-tight;
    color: var(--mx-tx-text-secondary);
  }
}

.transaction-details-info-icon {
  @apply mvx:rounded-full mvx:w-4 mvx:h-4;

  img {
    @apply mvx:rounded-full mvx:w-4 mvx:h-4;
  }
}

.transaction-right {
  @apply mvx:flex mvx:items-start mvx:ml-auto;
}

.transaction-amount {
  @apply mvx:flex mvx:text-base mvx:font-medium mvx:leading-6 mvx:tracking-tight;
  color: var(--mx-tx-text-primary);

  &.amount-positive{
    color: var(--mx-tx-success);
  }

  &.transaction-failed {
    color: var(--mx-tx-fail);
  }

  .transaction-amount-decimal {
    @apply mvx:opacity-70;
  }

  .transaction-amount-label {
    @apply mvx:opacity-70 mvx:tracking-tight;
  }
}

.asset-container {
  @apply mvx:flex mvx:items-center;
}

.asset {
  @apply mvx:w-7 mvx:h-7 mvx:rounded-full mvx:flex mvx:items-center mvx:justify-center mvx:-ml-2 mvx:border-2 mvx:overflow-hidden;
  background-color: var(--mx-dapp-core-bg-secondary, #f3f4f6);
  border-color: var(--mx-dapp-core-bg-primary, white);

  &:first-child {
    @apply mvx:ml-0;
  }

  .asset-image {
    @apply mvx:w-full mvx:h-full mvx:object-cover;
  }
}

.asset-more {
  @apply mvx:font-semibold mvx:text-white;
  background-color: var(--mx-dapp-core-color-indigo, #5045e4);
}
