.trim {
  @apply mvx:flex mvx:relative mvx:max-w-full mvx:overflow-hidden mvx:whitespace-nowrap;
}

.trim-full {
  @apply mvx:text-transparent mvx:absolute mvx:leading-5;
}

.trim-full-visible {
  @apply mvx:text-inherit mvx:relative mvx:leading-5;
}

.trim-wrapper {
  @apply mvx:hidden;
}

.trim-wrapper-visible {
  @apply mvx:overflow-hidden mvx:max-w-full mvx:flex;
}

.trim-left-wrapper {
  @apply mvx:flex-shrink mvx:text-ellipsis mvx:overflow-hidden mvx:text-left mvx:text-[1px];
}

.trim-left {
  @apply mvx:select-none mvx:pointer-events-none mvx:inline mvx:text-base mvx:leading-5;
}

.trim-right-wrapper {
  @apply mvx:flex-shrink mvx:text-ellipsis mvx:overflow-hidden mvx:whitespace-nowrap mvx:text-right mvx:text-[1px];
  direction: rtl;
}

.trim-right {
  @apply mvx:select-none mvx:pointer-events-none mvx:inline mvx:text-base mvx:leading-5 mvx:text-clip;
}

.side-panel-wrapper {
  @apply mvx:flex mvx:justify-end mvx:items-start mvx:z-50 mvx:pointer-events-none mvx:invisible mvx:xs:fixed mvx:xs:top-0 mvx:xs:left-0 mvx:xs:right-0 mvx:xs:bottom-0 mvx:xs:p-4 mvx:xs:pr-0 mvx:xs:items-center mvx:before:opacity-0 mvx:before:left-0 mvx:before:top-0 mvx:before:right-0 mvx:before:bottom-0 mvx:before:transition-all mvx:before:absolute mvx:before:duration-200 mvx:before:pointer-events-none mvx:before:ease-in-out mvx:before:bg-neutral-900 mvx:before:content-[""] mvx:before:supports-[backdrop-filter]:opacity-50 mvx:before:supports-[backdrop-filter]:backdrop-blur-sm mvx:before:supports-[backdrop-filter]:bg-neutral-900;

  &.visible {
    @apply mvx:pointer-events-auto mvx:visible mvx:before:opacity-90 mvx:before:supports-[backdrop-filter]:opacity-50;
  }

  .side-panel {
    @apply mvx:p-6 mvx:w-full mvx:flex mvx:overflow-hidden mvx:flex-col mvx:transition-all mvx:ease-in-out mvx:duration-200 mvx:rounded-tl-3xl mvx:rounded-tr-3xl mvx:backdrop-blur mvx:pb-0 mvx:border mvx:border-outline mvx:bg-surface mvx:xs:w-110 mvx:xs:h-full mvx:xs:mr-4 mvx:xs:rounded-[20px] mvx:xs:translate-x-[calc(100%+48px)] mvx:after:left-0 mvx:after:right-0 mvx:after:h-0 mvx:after:absolute mvx:after:shadow-lg mvx:after:shadow-surface mvx:after:-bottom-1 mvx:after:content-[""];

    &.visible {
      @apply mvx:transform mvx:translate-y-0 mvx:xs:translate-x-0;
    }
  }

  .side-panel-content {
    @apply mvx:flex-1 mvx:flex mvx:flex-col mvx:overflow-auto;
    // mvx:scrollbar-hide;

    &::-webkit-scrollbar {
      @apply mvx:hidden;
    }
  }
}