// This is needed to trigger the Stecil Tailwind compilation for inline Tailwind classes.
.trim {
    @apply mvx:flex mvx:relative mvx:max-w-full mvx:overflow-hidden mvx:whitespace-nowrap;
}

.trim-full {
    @apply mvx:text-transparent mvx:absolute mvx:leading-5;
}

.trim-full-visible {
    @apply mvx:text-inherit mvx:relative mvx:leading-5;
}

.trim-wrapper {
    @apply mvx:hidden;
}

.trim-wrapper-visible {
    @apply mvx:overflow-hidden mvx:max-w-full mvx:flex;
}

.trim-left-wrapper {
    @apply mvx:flex-shrink mvx:text-ellipsis mvx:overflow-hidden mvx:text-left mvx:text-[1px];
}

.trim-left {
    @apply mvx:select-none mvx:pointer-events-none mvx:inline mvx:text-base mvx:leading-5;
}

.trim-right-wrapper {
    @apply mvx:flex-shrink mvx:text-ellipsis mvx:overflow-hidden mvx:whitespace-nowrap mvx:text-right mvx:text-[1px];
    direction: rtl;
}

.trim-right {
    @apply mvx:select-none mvx:pointer-events-none mvx:inline mvx:text-base mvx:leading-5 mvx:text-clip;
}