.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.close-button {
  cursor: pointer;
  color: var(--mvx-text-color-primary);
  background-color: var(--mvx-bg-color-primary);
  border-color: var(--mvx-bg-color-primary);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
}

.pending-transactions-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.pending-transactions-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 16px;
}


.side-panel-wrapper {
  @apply mvx:flex mvx:justify-end mvx:items-start mvx:z-50 mvx:pointer-events-none mvx:invisible mvx:xs:fixed mvx:xs:top-0 mvx:xs:left-0 mvx:xs:right-0 mvx:xs:bottom-0 mvx:xs:p-4 mvx:xs:pr-0 mvx:xs:items-center mvx:before:opacity-0 mvx:before:left-0 mvx:before:top-0 mvx:before:right-0 mvx:before:bottom-0 mvx:before:transition-all mvx:before:absolute mvx:before:duration-200 mvx:before:pointer-events-none mvx:before:ease-in-out mvx:before:bg-neutral-900 mvx:before:content-[""] mvx:before:supports-[backdrop-filter]:opacity-50 mvx:before:supports-[backdrop-filter]:backdrop-blur-sm mvx:before:supports-[backdrop-filter]:bg-neutral-900;

  &.visible {
    @apply mvx:pointer-events-auto mvx:visible mvx:before:opacity-90 mvx:before:supports-[backdrop-filter]:opacity-50;
  }

  .side-panel {
    @apply mvx:p-6 mvx:w-full mvx:flex mvx:overflow-hidden mvx:flex-col mvx:transition-all mvx:ease-in-out mvx:duration-200 mvx:rounded-tl-3xl mvx:rounded-tr-3xl mvx:backdrop-blur mvx:pb-0 mvx:border mvx:border-outline mvx:bg-surface mvx:xs:w-110 mvx:xs:h-full mvx:xs:mr-4 mvx:xs:rounded-[20px] mvx:xs:translate-x-[calc(100%+48px)] mvx:after:left-0 mvx:after:right-0 mvx:after:h-0 mvx:after:absolute mvx:after:shadow-lg mvx:after:shadow-surface mvx:after:-bottom-1 mvx:after:content-[""];

    &.visible {
      @apply mvx:transform mvx:translate-y-0 mvx:xs:translate-x-0;
    }
  }

  .side-panel-content {
    @apply mvx:flex-1 mvx:flex mvx:flex-col mvx:overflow-auto;
    // mvx:scrollbar-hide;

    &::-webkit-scrollbar {
      @apply mvx:hidden;
    }
  }
}