:host {
  @apply mvx:flex mvx:flex-col mvx:overflow-hidden mvx:flex-1;

  .ledger-intro {
    @apply mvx:flex-1 mvx:flex mvx:flex-col;

    .ledger-intro-wrapper {
      @apply mvx:flex mvx:flex-col mvx:items-center mvx:gap-6 mvx:text-center mvx:text-base mvx:mb-auto;

      .ledger-intro-icon {
        @apply mvx:ml-auto;
      }

      .ledger-intro-description {
        @apply mvx:text-base;
        line-height: 1.5;
        color: var(--mx-unlock-provider-secondary);
      }

      .ledger-intro-button {
        @apply mvx:mt-5 mvx:w-48 mvx:flex mvx:items-center mvx:justify-center mvx:font-bold mvx:h-12 mvx:leading-none;
        @apply mvx:rounded-lg mvx:cursor-pointer mvx:transition-all mvx:duration-200 mvx:gap-2;
        transition-timing-function: ease;
        color: var(--mx-ledger-button-text);
        background-color: var(--mx-ledger-button-bg);
        border: 1px solid var(--mx-ledger-button-bg);

        &:hover {
          @apply mvx:opacity-75;
        }

        &.loading {
          @apply mvx:pointer-events-none mvx:bg-transparent mvx:cursor-default;
          border-color: var(--mx-ledger-button-loading);
          color: var(--mx-ledger-button-loading);
        }
      }

      .ledger-intro-error {
        @apply mvx:text-base mvx:max-w-60 mvx:mb-6;
        color: var(--mx-error-color);
        line-height: 1.5;
      }
    }

    .ledger-intro-issues {
      @apply mvx:text-base mvx:mt-10 mvx:mx-auto mvx:text-center mvx:relative mvx:pb-1;
      color: var(--mx-ledger-button-loading);

      &:after {
        @apply mvx:absolute mvx:bottom-0 mvx:left-8 mvx:right-8 mvx:h-px mvx:transition-all mvx:duration-200 mvx:opacity-0;
        transition-timing-function: ease;
        background-color: var(--mx-ledger-button-loading);
        content: '';
      }

      &:hover:after {
        @apply mvx:opacity-50;
      }
    }
  }
}
