.transaction-toast-content-wrapper {
  font-family: 'Satoshi', sans-serif;
  position: relative;
  display: flex;
  max-width: 400px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 12px;
  border: 0.5px solid var(--mx-tx-bg);
  background: var(--mx-tx-bg);
  backdrop-filter: blur(38px);
  color: var(--mx-tx-text-primary);

  .svg-inline--fa {
    color: var(--mx-tx-text-primary);
  }
}

.transaction-toast-content-wrapper.full-width {
  max-width: 100%;
}

.transaction-toast-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.transaction-toast-icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;

  svg, img, .svg-inline--fa {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.transaction-toast-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.transaction-toast-details-header {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  justify-content: space-between;
  padding: 0;
  padding: 0;
}

.transaction-toast-title {
  color: var(--mx-tx-text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.6px;
}

.transaction-toast-title-short {
  max-width: 160px;
}

.transaction-toast-content-wrapper.full-width .transaction-toast-title {
  max-width: 100%;
}


.transaction-toast-amount {
  color: var(--mx-tx-text-primary);
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.14px;
}

.transaction-toast-amount .transaction-amount-decimal {
  opacity: 0.7;
}

.transaction-toast-amount .transaction-amount-label {
  letter-spacing: -0.32px;
  opacity: 0.7;
}

.transaction-toast-details-info {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.transaction-toast-details-info-text {
  color: var(--mx-tx-text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.14px;
  max-width: 160px;
}

.transaction-toast-details-info-icon {
  border-radius: 50%;
  width: 16px;
  height: 16px;

  img {
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
}

.transaction-toast-action-button {
  color: var(--mx-tx-text-primary);
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  .svg-inline--fa {
    color: var(--mx-tx-text-primary);
    text-align: center;
    height: 16px;
    width: 16px;
  }
}