.transactions-table {
  width: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
  overflow: auto;
  table-layout: auto;
}

.transactions-table-header {
  background-color: #f9fafb;
}

.transactions-table-header-cell {
  padding: 0.75rem 1rem;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #6b7280;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 16.666667%;
}

.transactions-table-body {
  background-color: #ffffff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
}

.transactions-table-body-row {
  color: rgb(107 114 128);
}

.transactions-table-body-cell {
  padding: 0.5rem;
  width: max-content;
}

.transactions-table-body-cell > * {
  width: max-content;
}

