:host {
   .default-transaction-icon-small-container {
      fill: var(--mvx-neutral-500);
      fill-opacity: 0.2;
   } 

    .default-transaction-icon-small {
      fill: var(--mvx-text-color-primary);
  }
}