.advanced-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  background: #0a0a0a;
  border-radius: 16px;
}

.advanced-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
}

.gas-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -20px;
  position: relative;
  padding: 4px 4px 4px 4px;
}

.gas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  padding: 30px 20px 30px 20px;
  background: #191919;
  overflow: hidden;
  border-radius: 12px;
}

.gas-header {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
}

.gas-price {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #b5b2af;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
}

.gas-price-value {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #b5b2af;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
}

.gas-speed-selector {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  padding: 2px 2px 2px 2px;
  background: #0a0a0a;
  overflow: hidden;
  border-radius: 20px;
}

.speed-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 10px;
  position: relative;
  padding: 4px 12px 4px 12px;
  border-radius: 18px;
  cursor: pointer;
}

.speed-option.active {
  background: #23f7dd;
}

.speed-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  color: #b5b2af;
}

.speed-option.active .speed-text {
  color: #000000;
}

.gas-limit-row {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
}

.gas-limit {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #b5b2af;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
}

.gas-limit-value {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #b5b2af;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
}

.data-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 0 12px 12px 24px;
}

.data-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
}

.data-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
}

.data-title {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  padding: 12px 0 0 0;
}

.data-label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #b5b2af;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  white-space: nowrap;
}

.data-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  height: 136px;
}

.data-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 16px;
  position: relative;
  min-height: 0;
  padding: 8px 8px 8px 8px;
  border: 1px solid #262626;
  overflow: hidden;
  border-radius: 8px;
}

.data-text-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.data-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 270px;
  color: #ffffff;
  font-family: Roobert PRO, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  word-break: break-all;
  font-family: monospace;
}

.data-cursor {
  flex-shrink: 0;
  position: relative;
  width: 7px;
  height: 36px;
  background: #404040;
  overflow: hidden;
  border-radius: 6px;
} 