:host {
  @apply mvx:flex mvx:flex-col mvx:flex-1;

  .wallet-connect {
    @apply mvx:flex mvx:flex-col mvx:transition-all mvx:duration-400 mvx:flex-1;
    transform-style: preserve-3d;
    transition-timing-function: ease;
    height: max(100%, 680px);

    &.flipped {
      transform: rotateY(180deg);
    }
  }
}
