:host {
  @apply mvx:flex;

  .default-transaction-icon-large {
    @apply mvx:h-8 mvx:w-8;
    fill: none;

    rect {
      fill: var(--mvx-icon-bg);
    }

    path {
      fill: var(--mvx-text-color-primary);
    }
  }
}
