.unlock-button {
  padding: 0 12px;
  padding-right: 16px;
  height: 60px;
  background: rgba(53, 53, 53, 0.3);
  display: flex;
  transition: all 200ms ease;
  cursor: pointer;
  align-items: center;
  gap: 16px;

  &:hover {
    background: rgba(53, 53, 53, 1);
  }

  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .unlock-button-icon {
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 40px;
  }

  .unlock-button-label {
    color: #e8e8e8;
    font-size: 16px;
    line-height: 1;
  }

  .unlock-button-status {
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;

    .unlock-button-status-open {
      color: #23f7dd;
      padding: 0 8px;
    }

    .unlock-button-status-install {
      padding: 4px 8px;
      border-radius: 20px;
      border: 1px solid rgba(64, 64, 64, 0.4);
      background: rgba(11, 11, 11, 0.8);
      display: flex;
      align-items: center;
      gap: 4px;

      .unlock-button-status-install-label {
        color: #23f7dd;
      }

      .unlock-button-status-install-icon {
        display: flex;
        align-items: center;

        svg path {
          fill: #23f7dd;
        }
      }
    }
  }
}
