.pagination-ellipsis-form {
  @apply mvx:cursor-default mvx:flex mvx:flex-col mvx:text-left;

  .pagination-ellipsis-form-field-label {
    @apply mvx:cursor-pointer mvx:mb-2;
    font-size: 12px;
    color: var(--mvx-text-color-secondary);
  }

  .pagination-ellipsis-form-field {
    @apply mvx:relative mvx:gap-2 mvx:flex;

    .pagination-ellipsis-form-field-input {
      @apply mvx:w-22 mvx:h-11 mvx:p-3 mvx:text-center mvx:transition-all mvx:duration-200 mvx:ease-in-out mvx:pr-10 mvx:m-0;
      border-width: 1px;
      box-shadow: none;
      font-size: 1rem;
      background: var(--mvx-bg-color-primary);
      border-radius: 8px;
      border-color: transparent;
      appearance: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      color: var(--mvx-text-color-primary);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border-color: var(--mvx-text-accent-color);
      }
    }

    .pagination-ellipsis-form-button {
      @apply mvx:leading-none mvx:h-8 mvx:right-1 mvx:absolute mvx:cursor-pointer mvx:flex mvx:top-1/2;
      outline: none;
      border: none;
      background-color: transparent;
      transform: translateY(-50%);
      font-size: 12px;

      &:hover .pagination-ellipsis-form-button-icon {
        fill: var(--mvx-text-accent-color);
      }
    }
  }
}
