.pagination-ellipsis-form {
  text-align: left;
  cursor: default;
  display: flex;
  flex-direction: column;

  .pagination-ellipsis-form-field-label {
    margin-bottom: 8px;
    font-size: 12px;
    color: #a3a3a3;
    cursor: pointer;
  }

  .pagination-ellipsis-form-field {
    display: flex;
    gap: 8px;
    position: relative;

    .pagination-ellipsis-form-field-input {
      width: 88px;
      height: calc(40px + 4px);
      border-width: 1px;
      box-shadow: none;
      font-size: 1rem;
      padding: 12px;
      padding-right: 40px;
      text-align: center;
      transition: all 200ms ease;
      background: #171717;
      border-radius: 8px;
      border-color: transparent;
      appearance: none;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: textfield;
      margin: 0;
      color: #fff;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border-color: #23f7dd;
      }
    }

    .pagination-ellipsis-form-button {
      outline: none;
      border: none;
      background-color: transparent;
      line-height: 1;
      cursor: pointer;
      position: absolute;
      right: 4px;
      display: flex;
      height: 32px;
      transform: translateY(-50%);
      font-size: 12px;
      top: 50%;

      &:hover .pagination-ellipsis-form-button-icon {
        fill: #23f7dd;
      }
    }
  }
}
