:host {
  @apply mvx:flex mvx:flex-col mvx:flex-1;

  .sign-transactions-footer {
    @apply mvx:mt-auto mvx:flex mvx:flex-col mvx:items-center mvx:pt-5 mvx:gap-5 mvx:text-center;
    font-family: 'Satoshi', sans-serif;

    .sign-transactions-footer-buttons {
      @apply mvx:flex mvx:items-center mvx:w-full mvx:gap-3;

      .sign-transactions-footer-button-wrapper {
        @apply mvx:relative mvx:flex mvx:flex-col mvx:flex-1;

        &.cancel {
          @apply mvx:w-32 mvx:max-w-32;
        }

        .sign-transactions-footer-button-tooltip-wrapper {
          @apply mvx:absolute mvx:inset-0;
        }

        .sign-transactions-footer-button {
          @apply mvx:rounded-xl mvx:px-4 mvx:py-2 mvx:flex mvx:justify-center mvx:items-center mvx:max-h-10 mvx:min-h-10;
          @apply mvx:leading-none mvx:text-base mvx:font-bold mvx:transition-all mvx:duration-200 mvx:cursor-pointer mvx:gap-2 mvx:w-full;
          border: 1px solid transparent;
          transition-timing-function: ease;

          &.cancel {
            @apply mvx:relative;
            color: #e8e8e8;

            &:before {
              @apply mvx:absolute mvx:rounded-xl mvx:opacity-40 mvx:transition-all mvx:duration-200 mvx:pointer-events-none;
              transition-timing-function: ease;
              background-color: #353535;
              bottom: -1px;
              content: '';
              z-index: -1;
              right: -1px;
              left: -1px;
              top: -1px;
            }

            &:hover {
              @apply mvx:text-black;

              &:before {
                @apply mvx:opacity-100;
                background-color: #23f7dd;
              }
            }
          }

          &.highlighted {
            @apply mvx:flex-1 mvx:text-black;
            background-color: #23f7dd;

            &:hover {
              @apply mvx:opacity-75;
            }
          }

          &.disabled {
            @apply mvx:bg-transparent mvx:cursor-default mvx:pointer-events-none;
            border-color: #a09a93;
            color: #a09a93;
          }

          .sign-transactions-footer-button-icon {
            @apply mvx:flex mvx:transition-all mvx:duration-200;
            transition-timing-function: ease;

            &.lighter {
              fill: #a09a93;
            }
          }
        }
      }
    }

    .sign-transactions-footer-identity {
      @apply mvx:max-w-64 mvx:flex mvx:items-center mvx:text-base mvx:gap-2;

      .sign-transactions-footer-identity-label {
        @apply mvx:whitespace-nowrap;
        color: #b6b3af;
      }

      .sign-transactions-footer-identity-address {
        @apply mvx:text-white mvx:relative mvx:min-w-0 mvx:max-w-none;
        top: 0.25px;

        .trim-wrapper {
          @apply mvx:items-end mvx:leading-none;
        }
      }

      .sign-transactions-footer-identity-username {
        @apply mvx:flex mvx:items-center mvx:text-base mvx:text-white;

        .sign-transactions-footer-identity-username-prefix {
          color: #23f7dd;
        }
      }

      .sign-transactions-footer-identity-copy,
      .sign-transactions-footer-identity-explorer {
        @apply mvx:flex;

        .sign-transactions-footer-identity-copy-icon,
        .sign-transactions-footer-identity-explorer-icon {
          @apply mvx:h-4 mvx:w-4 mvx:flex mvx:justify-center mvx:transition-all mvx:duration-200;
          transition-timing-function: ease;
          color: #b6b3af;

          &:hover {
            @apply mvx:opacity-80;
          }
        }
      }
    }
  }
}
