.side-panel-heading {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 24px;
  gap: 12px;
  margin-bottom: 24px;

  .side-panel-heading-left,
  .side-panel-heading-right {
    width: 16px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    &:hover {
      opacity: 0.75;
    }

    &.visible {
      opacity: 1;
      transition: all 200ms ease;
      pointer-events: all;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .side-panel-heading-title {
    color: #e5e5e5;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;
    margin: auto;
  }
}
