:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  .unlock-provider-intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Satoshi', sans-serif;
    padding: 48px;
    gap: 16px;

    .unlock-provider-intro-icon {
      margin-bottom: 24px;
      height: 150px;
      align-items: flex-end;
      display: flex;
      justify-content: flex-start;
      width: 150px;
    }

    .unlock-provider-intro-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
    }

    .unlock-provider-intro-text {
      font-size: 16px;
      color: #a09a93;
      font-weight: 500;
      line-height: 1.25;
    }
  }
}
