@keyframes XPortalQrCodePreloaderPulsation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.xportal-qr-code-preloader {
  @apply mvx:transition-all mvx:duration-200 mvx:w-75 mvx:h-75 mvx:ease-in-out;
  animation: XPortalQrCodePreloaderPulsation 1s infinite;
  fill: none;
}
