.transaction-action {
  .transaction-nft-badge {
    margin: 0 0.25rem auto auto;
  }
}

.transaction-action-content {
  align-items: center;
  display: flex;
}

.transaction-value, .transaction-value-content {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.transaction-value-img {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: transparent;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dee2e6;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: pre-wrap;
  word-break: break-all;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: max-content;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}
