@keyframes PreloaderPulseAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

:host {
  @apply mvx:p-0! mvx:flex mvx:border-0! mvx:bg-transparent!;

  .preloader {
    @apply mvx:w-30 mvx:h-30 mvx:relative mvx:transition-all mvx:duration-200 mvx:overflow-hidden;
    @apply mvx:rounded-lg mvx:ease-in-out;
    animation: PreloaderPulseAnimation 2s infinite;
    background: var(--mvx-preloader-bg);
  }
}
