.pagination {
  .pagination-items {
    .pagination-item-wrapper {
      .pagination-item {
        &:before {
          background-color: var(--mvx-pagination-item-bg);
        }

        &:hover {
          &:before {
            @apply mvx:opacity-100;
            background-color: var(--mvx-pagination-item-bg-hover);
          }
        }

        &.pagination-item-active {
          &:before {
            @apply mvx:opacity-100;
            background-color: var(--mvx-pagination-item-bg-hover);
          }
        }
      }
    }
  }
}
