.request-origin {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.request-origin p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
}

.origin-domain {
  font-weight: 500;
  color: #fff;
}

