.tooltip {
  @apply mvx:flex mvx:relative;

  .tooltip-content-wrapper {
    @apply mvx:left-1/2 mvx:absolute mvx:z-1;
    transform: translateX(-50%);

    &.top {
      bottom: calc(100% + 16px);
    }

    &.bottom {
      top: calc(100% + 16px);
    }

    .tooltip-content {
      @apply mvx:flex-row mvx:cursor-default mvx:p-2 mvx:whitespace-nowrap;
      background: var(--mvx-black);
      border-radius: 12px;
      border: 1px solid var(--mvx-neutral-800);
      font-size: 12px;
      color: var(--mvx-neutral-200);

      &:after {
        @apply mvx:left-1/2 mvx:origin-center mvx:w-2 mvx:h-2 mvx:absolute;
        border: 1px solid var(--mvx-neutral-800);
        background-color: var(--mvx-black);
        content: '';
        transform: translateX(calc(50% - 8px)) rotateZ(calc(45deg * -1));
      }

      &.top:after {
        bottom: calc(4px * -1);
        border-top: none;
        border-right: none;
      }

      &.bottom:after {
        top: calc(4px * -1);
        border-bottom: none;
        border-left: none;
      }
    }
  }
}
