:host {
  display: flex;
  flex-direction: column;
  font-family: 'Satoshi', sans-serif;
  flex: 1;

  .wallet-connect-flow {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: all 400ms ease;
    height: max(100%, 680px);
    flex: 1;

    &.flipped {
      transform: rotateY(180deg);
    }

    .wallet-connect-flow-scan {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      top: 0;

      .wallet-connect-flow-scan-qr {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        margin-top: auto;
        position: relative;

        .wallet-connect-flow-scan-qr-embed {
          width: 100%;
          height: auto;
          position: absolute;
          left: calc(20px * -1);
          top: calc(20px * -1);
          width: calc(300px + 40px);
          height: calc(300px + 40px);
          opacity: 0;
          transition: all 200ms ease;
          pointer-events: none;

          &:before {
            pointer-events: none;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            content: '';
            position: absolute;
            border: calc(12px / 4) solid #101010;
          }

          path {
            fill: #101010;
            stroke: #fff;
          }

          &.visible {
            opacity: 1;
          }
        }
      }

      .wallet-connect-flow-scan-description {
        line-height: 1.25;
        font-weight: 500;
        color: #a09a93;
        font-size: 16px;
        height: 64px;
        z-index: 1;
        margin-bottom: auto;
      }

      .wallet-connect-flow-scan-download {
        background: #0a0a0a;
        border-radius: 16px;
        width: 100%;
        display: flex;
        gap: 24px;
        align-items: center;
        padding: 24px;
        position: relative;
        height: 176px;
        margin-top: 64px;

        .wallet-connect-flow-scan-download-wrapper {
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: flex-start;

          .wallet-connect-flow-scan-download-title {
            color: #fff;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 500;
          }

          .wallet-connect-flow-scan-download-button {
            background: #23f7dd;
            border-radius: 8px;
            font-size: 12px;
            line-height: 1;
            text-align: center;
            padding: 8px;
            font-weight: 700;
            cursor: pointer;
            transition: all 200ms ease;

            &:hover {
              opacity: 0.75;
            }
          }
        }

        .wallet-connect-flow-scan-download-image {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }

    .wallet-connect-flow-download {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      backface-visibility: hidden;
      transform: rotateY(180deg) rotateX(0deg);
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      top: 0;

      .wallet-connect-flow-download-wrapper {
        display: flex;
        margin: auto 0;
        flex-direction: column;
        align-items: center;

        .wallet-connect-flow-download-description {
          line-height: 1.25;
          font-weight: 500;
          color: #a09a93;
          font-size: 16px;
          text-align: center;
          margin-top: 12px;
        }

        .wallet-connect-flow-download-return {
          color: #23f7dd;
          font-size: 16px;
          margin-top: 4px;
          font-weight: 500;
          line-height: 1.25;
          cursor: pointer;
          transition: all 200ms ease;

          &:hover {
            opacity: 0.75;
          }
        }
      }

      .wallet-connect-flow-download-options {
        height: 240px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: flex-end;
        margin: auto 0;

        .wallet-connect-flow-download-option {
          width: 192px;
          height: 64px;
          border-radius: 8px;
          border: 1px solid #262626;
          background-color: #0a0a0a;
          padding: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 200ms ease;

          &:hover {
            background-color: #262626;
          }

          .wallet-connect-flow-download-option-image {
            height: auto;
            width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
